.span-name {
    position: absolute;
    bottom: 67px;
    background: rgba(0, 0, 0, .65);
    width: 300px;
    color: #fff;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
}

.desc-sidebar {
    margin-left: 120px;
    padding-top: 4px;
    padding-bottom: 5px;
    overflow: hidden;
    font-size: 16px;
}

.date-sidebar {
    width: 150px;
    margin-left: 120px;
    margin-top: 15px;
    font-size: 12px;
    color: #aaa;
}

.caption-sidebar {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.sidebar-title {
    margin-bottom: 3px;
    border-bottom: 1px solid #BEBEBE !important;
}